<div id="myTab" class="btn-group btn-group-justified" role="tablist">
<div class="btn-group">
<a href="#exam" role="tab" data-toggle="tab" type="button" class="btn btn-default">Exams</a>
</div>
<div class="btn-group">
<a href="#news" role="tab" data-toggle="tab" type="button" class="btn btn-default">News</a>
</div>
<div class="btn-group">
<a href="#notice" role="tab" data-toggle="tab" class="btn btn-default" type="button">Notice</a>
</div>
</div>
<br>
<div id="myTabContent" class="tab-content">
<div class="tab-pane fade in active" id="exam">
<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg.voluptate nisi qui.</p>
</div>
<div class="tab-pane fade" id="news">
<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next echo park.</p>
</div>
<div class="tab-pane fade" id="notice">
<p>Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.</p>
</div>
</div>
