<div class="narrow container">
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid"><h3 class="navbar-brand"><u>EducationYP&nbsp;<small>College and course listing</small></u></h3></div>
</nav>
<div class="container-fluid up">

<div class="row">
  <div class="col-md-6"><%= image_tag("landing.png",:alt => "Prajuctone",:class =>"img-responsive")%></div>
  <div class="col-md-6 well">
  <h1 style="text-align:left;"><strong>Confused?<br><br>Don't be .<br>We will help you <br><%= link_to '#Soon', welcome_index_path %></strong></h1>
  </div>
</div>
</div>
<div class="foo">
<p class="pull-right">&copy;&nbsp;<%= Time.now.year %>&nbsp;Prajuctone Pvt. Ltd </p>
</div>
</div>

